<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<title>应急广播平台</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link href="../common/css/eb-common.css" rel="stylesheet">
</head>
<body >
<div class="main-container container-fluid" id="rrapp">
	<div class="main-content">
		<div class="page-content" >

			<div style="padding-bottom: 60px;">
				<div class="pull-right">
					<form id="form-search-curve" class="form-inline" action="javascript:void(0);" >

						<div class="form-group">
							<div class="input-group input-group-sm">
								<label class="control-label eb-label-text">参数类型</label>
								<select  class="eb-select" v-model="req.paramType">
									<option value="" > 全部</option>
									<option v-for="p in pageEnum"  v-bind:value="p.dictKey">{{p.dictValue}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-sm">
								<label class="control-label eb-label-text">参数名称</label>
								<input  class="input-date eb-input"  v-model="req.paramName"/>
							</div>
						</div>

						<div class="form-group">
							<div class="input-group input-group-sm">
								<label class="control-label eb-label-text">参数键</label>
								<input  class="input-date eb-input"  v-model="req.paramKey"/>
							</div>
						</div>

						<div class="form-group">
							<div class="input-group input-group-sm">
								<button class="eb-btn-search" type="button" onclick="reload()">
									<i class="fa fa-search"></i> &nbsp; 查 询
								</button>
							</div>
						</div>

					</form>
				</div>
			</div>

			<div class="jqGridDiv">
				<div class="jqGridDiv2" >
					<table id="jqGrid"></table>
					<div id="jqGridPager" class="jqGridPager"></div>
				</div>
			</div>
		</div>
	</div>


	<div  id="paramAddLayer" style="display: none;" class="eb-layer" >
		<div class="eb-layer-title">
			{{title}}
		</div>
		<!--<form class="form-horizontal m-t" id="param_form" method="post" v-if="paramAddShow">
			<div class="form-group mg-h-30">
				<label class="col-sm-4 control-label eb-label-text"><span class="e-required"> *</span>角色名称：</label>
				<div class="col-sm-7">
					<input  v-model="paramInfo.name" class="form-control eb-input-text" type="text" value="" >
				</div>
			</div>
			<div class="form-group mg-h-30">
				<label class="col-sm-4 control-label eb-label-text"><span class="e-required"> *</span>角色类型：</label>
				<div class="col-sm-7">
					<select  class="eb-select" v-model="paramInfo.type">
						<div v-if="pageEnum != null">
							<option v-for="p in pageEnum" v-if="p.dictGroupCode == 'param_TYPE_DICT'" v-bind:value="p.dictKey">{{p.dictValue}}</option>
						</div>
					</select>
				</div>
			</div>
			<div class="form-group mg-h-30">
				<label class="col-sm-4 control-label eb-label-text">角色描述：</label>
				<div class="col-sm-7">
					<input id="password2"  v-model="paramInfo.description" class="form-control eb-input-text" type="password" value="" >
				</div>
			</div>

			<div class="form-group mg-h-30">
				<div class="col-sm-6 control-label eb-label-text">
					<input type="button"  class="eb-btn-search" value="保存" @click="save">
				</div>
				<div class="col-sm-5">
					<input type="button"  class="eb-btn-search" @click="closeLayer()" value="返回">
				</div>
			</div>
		</form>-->

		<form class="form-horizontal m-t"  method="post" v-if="paramUpdateShow">
			<input type="hidden"  v-model="paramInfo.id" value="">
			<div class="form-group mg-h-30">
				<label class="col-sm-4 control-label eb-label-text"><span class="e-required"> *</span>参数名称：</label>
				<div class="col-sm-7">
					<input  v-model="paramInfo.paramName"  class="form-control eb-input-text" type="text" value="" >
				</div>
			</div>
			<div class="form-group mg-h-30">
				<label class="col-sm-4 control-label eb-label-text"><span class="e-required"> *</span>参数键：</label>
				<div class="col-sm-7">
					<input  v-model="paramInfo.paramKey"  disabled class="form-control eb-input-text" type="text" value="" >
				</div>
			</div>
			<div class="form-group mg-h-30">
				<label class="col-sm-4 control-label eb-label-text"><span class="e-required"> *</span>参数值：</label>
				<div class="col-sm-7">
					<input  v-model="paramInfo.paramValue"  class="form-control eb-input-text" type="text" value="" >
				</div>
			</div>
			<div class="form-group mg-h-30">
				<label class="col-sm-4 control-label eb-label-text">参数说明：</label>
				<div class="col-sm-7">
					<input  v-model="paramInfo.description"  class="form-control eb-input-text" type="text" value="" >
				</div>
			</div>
			<div class="form-group mg-h-30">
				<label class="col-sm-4 control-label eb-label-text">排序号：</label>
				<div class="col-sm-7">
					<input  v-model="paramInfo.orderNum"  class="form-control eb-input-text" type="text" value="" >
				</div>
			</div>

			<div class="form-group mg-h-30" style="text-align: center">
				<button class="eb-btn-search" type="button" @click="closeLayer()">
					<i class="fa fa-close"></i> &nbsp; 取消
				</button>

				<button class="eb-btn-search" type="button" @click="update()">
					<i class="fa fa-check"></i> &nbsp; 确认
				</button>
			</div>
		</form>
	</div>
</div>

<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/laydate/laydate.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../js/common.js"></script>
<script src="js/sysParam.js"></script>
</body>
</html>