<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
<title>应急广播平台-方案中心</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link href="../common/css/eb-common.css" rel="stylesheet">
<link href="../common/css/eb-right-float.css" rel="stylesheet">
</head>
<body >
<div class="main-container container-fluid" id="rrapp" >
	<div class="main-content" >
		<div class="page-content"  >
			
			<div class="pull-right" id="searchDiv">
				<form id="form-search-curve" class="form-inline"  action="javascript:void(0);" >
					<div class="form-group">
						<div class="input-group input-group-sm styled-select" >
							<label class="control-label eb-label-text">方案名称</label>
							<input  class="input-date eb-input" v-model="req.schemeTitle"/>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-sm styled-select" >
							<label class="control-label eb-label-text">广播类型</label>
							<select  class="eb-select" v-model="req.bcType">
								<option value="" >全部</option>
								<div v-if="pageEnum != null">
									<option v-for="p in pageEnum" v-if="p.dictGroupCode == 'BROADCAST_TYPE_DICT'" v-bind:value="p.dictKey">{{p.dictValue}}</option>
								</div>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-sm styled-select" >
							<label class="control-label eb-label-text">预警阶段</label>
							<select  class="eb-select" v-model="req.flowStage">
								<option value="" > 全部</option>
								<div v-if="pageEnum != null">
									<option v-for="p in pageEnum" v-if="p.dictGroupCode == 'FLOW_STAGE_DICT'" v-bind:value="p.dictKey">{{p.dictValue}}</option>
								</div>
							</select>
						</div>
					</div>


					<div class="form-group">
						<div class="input-group input-group-sm">
							<div class="form-group">
								<div class="input-group input-group-sm">
									<label class="control-label eb-label-text">广播时间</label>
									<input  class="input-date eb-input" v-model="req.startTime" id="startTime"/>
								</div>
							</div>

							<div class="form-group">
								<div class="input-group input-group-sm">
									<label class="control-label eb-date-label-text">至</label>
									<input  class="input-date eb-input"  v-model="req.endTime" id="endTime"/>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<button class="eb-btn-search" type="button" @click="reload">
							<i class="fa fa-search"></i> &nbsp; 查 询
						</button>
					</div>
				</form>

			</div>


				<div class="jqGridDiv">
					<div class="jqGridDiv2" >
						<table id="jqGrid"></table>
						<div id="jqGridPager" class="jqGridPager"></div>
					</div>
				</div>

		</div>


	</div>

</div>


<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/laydate/laydate.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../js/common.js"></script>
<script src="js/scheme.js"></script>
</body>
</html>